body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

:root {
  --background: #eefddf;
  --hero: #d5ffc4;
  --green: #3ab44b;
  --hover-green: #3ab44acc;
  --med-grey: #8d8d8d;
  --light-grey: #d3d3d3;
  --off-white: #f0f0f0;
}
